body{
    margin:0;
}

div{
    padding: 8px;
    margin: 0;
}

h2 {
    margin:0;
    padding-top: 5px;
    padding-bottom: 5px;
}

.light-background {
    background-color: whitesmoke;
}

.navigation-list {
    width: 100px;
    margin: 0;
    padding: 0;
    position: fixed; 
    top: 40%; 
    right: 30px; 
}

.navigation-list a li {
    text-align: center;
    display: block;
    color: white;
    background-color: black;
    padding: 10px;
}

.navigation-list a li:hover {
    background-color: #66CCCC;
    color: black;
}

.navigation-list a {
    margin: 0px;
    display: block; 
    width: 100%; 
    height: 100%;
    border-bottom: 1px solid grey;
}

.navigation-list a:last-child {
    border-bottom: none;
}

a {
    color:white;
    text-decoration: none;
    width: 100%;
    height: 100%;
}