*{
    font-family: PT Sans;
    text-align: center;
}

body{
    margin:0;
}

section{
    padding: 8px;
    margin: 0;
}

h2 {
    margin:0;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: Arial Narrow;
    text-transform: uppercase;
}

.light-background {
    background-color: whitesmoke;
}

hr {
    margin: 0;
    color: lightgray;
}

table {
    margin-left: auto;
    margin-right: auto;
}

td {
    text-align: left;
    padding-right: 20px;
}

img{
    margin: 15px;
}

td:last-child{
    margin-right: 0;
}

.navigation-list {
    width: 100px;
    margin: 0;
    padding: 0;
    position: fixed; 
    top: 40%; 
    right: 30px; 
}

.navigation-list a li {
    text-align: center;
    display: block;
    color: white;
    background-color: black;
    padding: 10px;
}

.navigation-list a li:hover {
    background-color: #66CCCC;
    color: black;
}

.navigation-list a {
    margin: 0px;
    display: block; 
    width: 100%; 
    height: 100%;
    border-bottom: 1px solid grey;
}

.navigation-list a:last-child {
    border-bottom: none;
}

a {
    color:white;
    text-decoration: none;
    width: 100%;
    height: 100%;
}